h1,
.h1 {
  margin: 0;
  margin-bottom: 28px;
  font-family: 'Roboto Slab', serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 63px;
  color: #fff;
}
p,
.p {
  margin: 0;
}
small,
.small {
  font-size: 12px;
  line-height: 21px;
  color: #666;
}
small.alt,
.small.alt {
  font-size: 11px;
}
a {
  cursor: pointer;
  color: inherit;
  -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
a,
a:hover {
  outline: 1px dashed transparent;
}
a:not(:hover):focus {
  outline: 1px dashed transparent;
}
a,
a:hover {
  text-decoration: none;
}
a.link:not(.small) {
  font-weight: 700;
  display: inline-block;
  position: relative;
}
a.link:not(.small):before {
  content: '';
  z-index: -1;
  display: block;
  -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
a.link:not(.small):before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 21px;
  height: 2px;
}
a.link:not(.small):hover:before {
  width: 100%;
}
a.link.small {
  color: #aaa;
  display: inline-block;
  position: relative;
}
a.link.small:before {
  content: '';
  z-index: -1;
  display: block;
  -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
a.link.small:before {
  position: absolute;
  left: 0;
  bottom: 2px;
  right: 0;
  height: 7px;
  background-color: rgba(255,255,255,0.07);
}
a.link.small:hover:before {
  bottom: -3.5px;
  height: 2px;
}
.links a.link:not(.small):not(:last-child) {
  margin-right: 35px;
}
@media (max-width: 599px) {
  .links a.link:not(.small) {
    display: block;
  }
  .links a.link:not(.small):not(:last-child) {
    margin-right: 0;
    margin-bottom: 14px;
  }
  .links a.link:not(.small):hover:before {
    width: 63px;
  }
}
.links a.link.small:not(:last-child) {
  margin-right: 21px;
}
.color-green a.link:not(.small),
.color-green a.link.small:hover {
  color: #419d78;
}
.color-green a.link:not(.small):before,
.color-green a.link.small:hover:before {
  background-color: #419d78;
}
a.link:not(.small).color-green,
a.link.small.color-green:hover {
  color: #419d78 !important;
}
a.link:not(.small).color-green:before,
a.link.small.color-green:hover:before {
  background-color: #419d78 !important;
}
.color-yellow a.link:not(.small),
.color-yellow a.link.small:hover {
  color: #e0a458;
}
.color-yellow a.link:not(.small):before,
.color-yellow a.link.small:hover:before {
  background-color: #e0a458;
}
a.link:not(.small).color-yellow,
a.link.small.color-yellow:hover {
  color: #e0a458 !important;
}
a.link:not(.small).color-yellow:before,
a.link.small.color-yellow:hover:before {
  background-color: #e0a458 !important;
}
.color-red a.link:not(.small),
.color-red a.link.small:hover {
  color: #d9594c;
}
.color-red a.link:not(.small):before,
.color-red a.link.small:hover:before {
  background-color: #d9594c;
}
a.link:not(.small).color-red,
a.link.small.color-red:hover {
  color: #d9594c !important;
}
a.link:not(.small).color-red:before,
a.link.small.color-red:hover:before {
  background-color: #d9594c !important;
}
.color-blue a.link:not(.small),
.color-blue a.link.small:hover {
  color: #53a2be;
}
.color-blue a.link:not(.small):before,
.color-blue a.link.small:hover:before {
  background-color: #53a2be;
}
a.link:not(.small).color-blue,
a.link.small.color-blue:hover {
  color: #53a2be !important;
}
a.link:not(.small).color-blue:before,
a.link.small.color-blue:hover:before {
  background-color: #53a2be !important;
}
.color-grayscale a.link:not(.small),
.color-grayscale a.link.small:hover {
  color: #666;
}
.color-grayscale a.link:not(.small):before,
.color-grayscale a.link.small:hover:before {
  background-color: #666;
}
a.link:not(.small).color-grayscale,
a.link.small.color-grayscale:hover {
  color: #666 !important;
}
a.link:not(.small).color-grayscale:before,
a.link.small.color-grayscale:hover:before {
  background-color: #666 !important;
}
mark {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
mark:before {
  content: '';
  z-index: -1;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
}
.color-green mark {
  color: #419d78;
}
.color-green mark:before {
  background-color: rgba(65,157,120,0.14);
}
.color-yellow mark {
  color: #e0a458;
}
.color-yellow mark:before {
  background-color: rgba(224,164,88,0.14);
}
.color-red mark {
  color: #d9594c;
}
.color-red mark:before {
  background-color: rgba(217,89,76,0.14);
}
.color-blue mark {
  color: #53a2be;
}
.color-blue mark:before {
  background-color: rgba(83,162,190,0.14);
}
.color-grayscale mark {
  color: #666;
}
.color-grayscale mark:before {
  background-color: rgba(102,102,102,0.14);
}
ul,
ol,
li {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.blocks,
ol.blocks {
  display: block;
}
ul.blocks > li,
ol.blocks > li {
  display: block;
  position: relative;
  width: 100%;
  line-height: 35px;
}
form {
  margin: 0;
}
input,
textarea {
  display: block;
  width: 100%;
  height: 35px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 35px;
  vertical-align: middle;
  -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  background-color: transparent;
  color: #fff;
}
input,
textarea,
input:hover,
textarea:hover,
input:focus,
textarea:focus {
  outline: 0;
  box-shadow: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #666;
  -ms-filter: none;
  filter: none;
  opacity: 1;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #666;
  -ms-filter: none;
  filter: none;
  opacity: 1;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #666;
  -ms-filter: none;
  filter: none;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #666;
  -ms-filter: none;
  filter: none;
  opacity: 1;
}
input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 1000px #171a19;
}
textarea {
  resize: none;
  min-height: auto;
  height: 106px;
}
.field {
  position: relative;
  max-width: 315px;
  border-bottom: 2px solid transparent;
}
.field .effect {
  position: absolute;
  left: 0;
  bottom: -2px;
  right: 0;
  height: 2px;
  background-color: #666;
  -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.field .effect > * {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 100%;
  -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.field.filled .effect > *:nth-child(1),
.field input:focus ~ .effect > *:nth-child(1),
.field textarea:focus ~ .effect > *:nth-child(1) {
  right: 0%;
}
.field.filled .effect > *:nth-child(2),
.field input:focus ~ .effect > *:nth-child(2),
.field textarea:focus ~ .effect > *:nth-child(2) {
  right: 25%;
}
.field.filled .effect > *:nth-child(3),
.field input:focus ~ .effect > *:nth-child(3),
.field textarea:focus ~ .effect > *:nth-child(3) {
  right: 50%;
}
.field.filled .effect > *:nth-child(4),
.field input:focus ~ .effect > *:nth-child(4),
.field textarea:focus ~ .effect > *:nth-child(4) {
  right: 75%;
}
.field.filled.validated .effect > *:nth-child(1) {
  right: 0%;
}
.field.filled.validated .effect > *:nth-child(2) {
  right: 5%;
}
.field.filled.validated .effect > *:nth-child(3) {
  right: 10%;
}
.field.filled.validated .effect > *:nth-child(4) {
  right: 15%;
}
.color-green .field .effect > *:nth-child(1) {
  background-color: #53a2be;
}
.color-green .field .effect > *:nth-child(2) {
  background-color: #d9594c;
}
.color-green .field .effect > *:nth-child(3) {
  background-color: #e0a458;
}
.color-green .field .effect > *:nth-child(4) {
  background-color: #419d78;
}
.color-yellow .field .effect > *:nth-child(1) {
  background-color: #419d78;
}
.color-yellow .field .effect > *:nth-child(2) {
  background-color: #53a2be;
}
.color-yellow .field .effect > *:nth-child(3) {
  background-color: #d9594c;
}
.color-yellow .field .effect > *:nth-child(4) {
  background-color: #e0a458;
}
.color-red .field .effect > *:nth-child(1) {
  background-color: #e0a458;
}
.color-red .field .effect > *:nth-child(2) {
  background-color: #419d78;
}
.color-red .field .effect > *:nth-child(3) {
  background-color: #53a2be;
}
.color-red .field .effect > *:nth-child(4) {
  background-color: #d9594c;
}
.color-blue .field .effect > *:nth-child(1) {
  background-color: #d9594c;
}
.color-blue .field .effect > *:nth-child(2) {
  background-color: #e0a458;
}
.color-blue .field .effect > *:nth-child(3) {
  background-color: #419d78;
}
.color-blue .field .effect > *:nth-child(4) {
  background-color: #53a2be;
}